@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
:root {
  --primary-color: blueviolet;
  --secondary-color: #D9D9D9;
  --text-color: rgb(23, 23, 23);
  --light-text: gray;
  --background-color: white;
  --bg-light: #f8f9fa;
  --bg-black-color: rgb(53, 53, 53);
}

[data-theme='dark'] {
  --primary-color: rgb(132, 0, 255);
  --secondary-color: #D9D9D9;
  --text-color: white;
  --light-text: gray;
  --background-color: #171717;
  --bg-black-color: rgb(0, 23, 23);
  --bg-light: rgb(0, 23, 23);
}
.stats {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  div {
    border: none;
    padding: 1.75rem;
    background-color: var(--bg-light);
  }
  h3 {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: .5rem;
  }
  p {
    margin-bottom: .5rem;
  }
  small {
  color: var(--light-text);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .8rem;
}

}
.bg-black {
  background-color: var(--bg-black-color) !important;
}
.payment {
  h4{
    color: var(--primary-color);
  }
  p {
    color: var(--secondary-color);
  }
  font-family: Arial, Helvetica, sans-serif;
  input, input:focus {
    background-color: var(--input-background-color);
    color: var(--text-color);
    outline: none !important;
    box-shadow: none !important;
    font-size: .85rem;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
  }
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
  padding: 0;
  background-image: url('assets/iXDitUGvSqtKwfmiLp0iWW5Q.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.small {
  font-size: 0.9rem;
}
#gsi_265796_503538, .qJTHM, .L5Fo6c-PQbLGe {
  width: 100% !important;  
}
a {
  text-decoration: none;
  color: inherit;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 1;
  color: blueviolet;
}
.logo i {
  margin-right: 1rem;
  font-weight: bolder;
}
.container {
  width: 95%;
  max-width: 1500px !important;
  margin: auto;
}
.Navigation .navBar {
    max-width: 1500px;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav i {
  cursor: pointer;
}

.profile {
  background-color: var(--background-color);
}
.divider {
  width: 1px;
  height: 1.5rem;
  background-color: #ccc;
  margin: 0 1rem;
}
.heroSection {
  padding: 4rem 3rem;
  button {
    font-size: .9rem;
  }
  h1 {
    font-size: clamp(2.2rem, 5vw, 4.5rem);
    color: blueviolet;
    font-weight: 600;
    margin: 1rem 0;
  }
  p {
    margin-bottom: 1.5rem;
    max-width: 900px;
  }
}
.btn, .btn:hover {
  color: var(--primary-color);
}
  .btnLight {
    background-color: #D9D9D9 !important;
    color: var(--primary-color);
  }
  .btn.small {
    font-size: 0.9rem;
  }
  .betsContainer {
    border-radius: 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    font-size: .9rem;
    min-height: 400px;
  }
  table {
    /* make table scroll horizontal if cramped */
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    th, td {
      padding-left: 15px;
    }
    th {
      color: var(--primary-color);
    }
  }
  .newMatch {
    .form-control, .form-select {
      width: 95%;
      padding: 5px 10px;
      border: none;
      font-size: 0.9rem;
      color: ghostwhite !important;
      background-color: transparent;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid gray;
    }
    .form-control::-webkit-input-placeholder {
      color: gray !important;
    }
  }
  .pageNext button {
  margin: 2px;
  width: 35px;
  background-color: #f0f0f0;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pageNext .active {
  background-color: blueviolet;
  color: white;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

.popup-enter {
  animation: slideDown 0.3s ease forwards;
}

.popup-exit {
  animation: fadeUp 0.4s ease forwards;
}

@media (max-width: 900px) {
.container {
  width: 100%;
}
.betsContainer {
  border-radius: 0;
  padding: 40px 10px !important;
}

.stats {
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 1rem;
  text-align: center;
  div {
    margin-bottom: 2rem;
  }
}

.popup-enter, .popup-exit {
  width: auto !important;
  min-width: max-content !important;
  max-width: 95% !important;
}
}